/*Blogpost main container styling*/
.blogposts-main-container {
	width: 100%;
	height: 100vh;
	background-color: #31363F;
}

/*Blogpost card container styling*/
.blogpost-card-container {
	max-width:100%;
	height: auto;
	overflow: hidden;
	box-shadow: 0.2px 0.2px 2px 1px white;
	background-color:#222831 ;
	padding:5px;
	margin: auto;
	margin-bottom: 10px;
	color: white;
}

/*Blogpost card description para styling*/
.blogpost-card-container > p {
  font-size: 1.3rem;
}

/*Blogposts container styling*/
.blogposts-container {
	max-width: 800px;
	height: auto;
	margin: auto;
	margin-top: 10px;
	padding: 5px;
}

